* {
  all: unset;
}

.conkeww-pane {
  border: 3px solid;
  border-radius: 10px;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 1.08em;
  padding: 14px 10px;
}

.title {
  font-size: 1.24em;
  font-weight: 700;
  border-radius: 60px;
  padding: 0 15px;
}
